{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> HEPHAESTUS - Login </title>
    <meta name="Description" content="School management system">
    <meta name="Author" content="KAJUGA Daniels">
    <meta name="keywords" content="">
    <link rel="icon" href="{% static 'images/logo/favicon.png' %}" type="image/x-icon">
    <script src="{% static 'js/authentication-main.js' %}"></script>
    <link id="style" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
    <link href="{% static 'css/styles.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css' %}">
</head>

<body class="bg-white">

    <div class="row authentication mx-0">

        <div class="col-xxl-7 col-xl-7 col-lg-12">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-7 col-sm-8 col-12">
                    <div class="p-5">
                        <div class="mb-3">
                            <a href="index.html">
                                <img src="{% static 'images/logo/blue.png' %}" alt="" class="authentication-brand desktop-logo" style="width: 160px; height: 160px;">
                                <img src="{% static 'images/logo/blue.png' %}" alt="" class="authentication-brand desktop-dark" style="width: 160px; height: 160px;">
                            </a>
                        </div>
                        <p class="h5 fw-semibold mb-2">Sign In</p>
                        <p class="mb-3 text-muted op-7 fw-normal">Welcome back to HEPHAESTUS </p>
                        <form class="theme-form" method="POST">
                            {% csrf_token %}
                            <div class="row gy-3">
                                <div class="col-xl-12 mt-0">
                                    <label class="form-label text-default">Phone Number</label>
                                    {{ form.phone_number }}
                                    {% if form.phone_number.errors %}
                                        <div class="text-danger">{{ form.phone_number.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-xl-12 mb-3">
                                    <label class="form-label text-default d-block">
                                        Password
                                        <a href="#" class="float-end text-danger">
                                            Forget password ?
                                        </a>
                                    </label>
                                    <div class="input-group">
                                        {{ form.password }}
                                        {% if form.password.errors %}
                                            <div class="text-danger">{{ form.password.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xl-12 d-grid mt-2">
                                    <button type="submit" class="btn btn-lg btn-primary">Sign In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-5 col-xl-5 col-lg-5 d-xl-block d-none px-0">
            <div class="authentication-cover">
                <div class="aunthentication-cover-content rounded">
                    <div class="swiper keyboard-control">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                    <div>
                                        <div class="mb-5">
                                            <img src="https://static.vecteezy.com/system/resources/previews/008/686/745/non_2x/student-celebrating-graduation-free-vector.jpg" class="authentication-image" alt="">
                                        </div>
                                        <h6 class="fw-semibold text-fixed-white">Sign In</h6>
                                        <p class="fw-normal fs-14 op-7"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa eligendi expedita aliquam quaerat nulla voluptas facilis. Porro rem voluptates possimus, ad, autem quae culpa architecto, quam labore blanditiis at ratione.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                    <div>
                                        <div class="mb-5">
                                            <img src="https://img.freepik.com/free-vector/happy-student-concept-illustration_114360-8328.jpg" class="authentication-image" alt="">
                                        </div>
                                        <h6 class="fw-semibold text-fixed-white">Sign In</h6>
                                        <p class="fw-normal fs-14 op-7"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa eligendi expedita aliquam quaerat nulla voluptas facilis. Porro rem voluptates possimus, ad, autem quae culpa architecto, quam labore blanditiis at ratione.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                    <div>
                                        <div class="mb-5">
                                            <img src="https://images.all-free-download.com/images/thumbjpg/students_icons_colored_cartoon_characters_sketch_6837667.jpg" class="authentication-image" alt="">
                                        </div>
                                        <h6 class="fw-semibold text-fixed-white">Sign In</h6>
                                        <p class="fw-normal fs-14 op-7"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa eligendi expedita aliquam quaerat nulla voluptas facilis. Porro rem voluptates possimus, ad, autem quae culpa architecto, quam labore blanditiis at ratione.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/authentication.js' %}"></script>

</body>

</html>