{% extends "layouts/app.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">Classes</h1>
        <div class="ms-md-1 ms-0">
            {% comment %} <nav>
                <ol class="breadcrumb mb-0">
                    <a class="btn btn-primary" href="{% url 'home:addClass' %}">
                        <i class="fas fa-plus me-2"></i>Add Class
                    </a>
                </ol>
            </nav> {% endcomment %}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="table-responsive">
                        {% include 'inc/classTable.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}